name: TP1 CD

on:
  push:
    branches:
      - main

# Le job deploy est exécuté uniquement pour les push sur la branche main, donc après merge du PR
# puisque la branche main est protégée et requiert un PR.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
        id: cd-maven-cache

      - name: Build
        run: |
          set -e
          chmod +x ./build.sh
          ./build.sh
        working-directory: tp1

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: tp1/application/target

  deploy:
    name: Deploy
    env:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      REMOTE_USER: ${{ secrets.REMOTE_USER }}
      AWS_KEY_PAIR_NAME: ${{ secrets.AWS_KEY_PAIR_NAME }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      ALLOCATION_ID: ${{ secrets.ALLOCATION_ID }}
      ALLOCATED_IP: ${{ vars.ALLOCATED_IP }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: build-artifacts
          path: tp1/application/target

      - name: Provision EC2 Instance
        id: provision-ec2
        run: |
          set -eu
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          python main.py

        working-directory: ec2-provision

      - name: Wait For Cloud-Init
        timeout-minutes: 5
        run: |
          set -eu

          # https://www.baeldung.com/ops/github-actions-deploy-ec2
          echo "$SSH_PRIVATE_KEY" > default.pem
          chmod 400 default.pem

          # https://askubuntu.com/questions/127369/how-to-prevent-write-failed-broken-pipe-on-ssh-connection
          # Étendre la durée des connexions SSH actives à maximum 30 minutes
          mkdir -p ~/.ssh
          cat <<'EOF' > ~/.ssh/config
          Host *
              ServerAliveInterval 60
              ServerAliveCountMax 30
          EOF

          echo "Waiting for cloud-init to complete..."
          until ssh -o StrictHostKeyChecking=no -i default.pem $REMOTE_USER@$ALLOCATED_IP "cloud-init status --wait"; do
            sleep 5
          done
        working-directory: tp1

      - name: Wait for PostgreSQL on EC2
        timeout-minutes: 5
        run: |
          until ssh -i default.pem $REMOTE_USER@$ALLOCATED_IP "sudo docker exec tb-postgres pg_isready -U postgres -d thingsboard"; do
            echo "Waiting for Postgres..."
            sleep 5
          done
        working-directory: tp1

      - name: Deploy to AWS
        run: |
          set -euxo pipefail

          rsync -rlgoDzvc -e "ssh -i default.pem" ./application/target/ $REMOTE_USER@$ALLOCATED_IP:~/thingsboard/
          ssh -i default.pem $REMOTE_USER@$ALLOCATED_IP <<"EOF"
            set -e

            sudo mkdir -p /var/log/thingsboard
            sudo chown $USER:$USER /var/log/thingsboard

            cd thingsboard/bin/install

            # Modifier le script pour utiliser le bon chemin d'installation
            # https://doc.ubuntu-fr.org/sed
            sed -i 's|^BASE=.*|BASE=~/thingsboard|' install_dev_db.sh
            
            chmod +x install_dev_db.sh
            bash -e install_dev_db.sh

            cd ~/thingsboard
            nohup java -jar thingsboard-4.2.1.1-boot.jar > thingsboard.log 2>&1 &
            echo "ThingsBoard started on EC2"
          EOF

          rm -f default.pem
        working-directory: tp1

      - name: "FAILURE: Clean up EC2"
        if: failure()
        run: |
          set -e
          rm -rf .venv
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          python cleanup.py
        working-directory: ec2-provision

  verify-deployment:
    name: Verify Deployment
    env:
      ALLOCATED_IP: ${{ vars.ALLOCATED_IP }}
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Verify ThingsBoard Execution
        timeout-minutes: 5
        run: |
          set -e
          until curl -If http://$ALLOCATED_IP:8080; do
            echo "Waiting for ThingsBoard to be reachable..."
            sleep 5
          done

      - name: "SUCCESS: Confirm Deployment Success"
        if: success()
        run: |
          set -eu
          echo "Deployment completed successfully!"
          echo "Access ThingsBoard at http://$ALLOCATED_IP:8080"
          echo ""
          echo "Example of credentials:"
          echo "- tenant@thingsboard.org / tenant"
          echo ""
          echo "Notes:"
          echo "- It may take a few minutes for all services to be fully operational"
          echo "- The EC2 instance will shutdown in 20 minutes since it's only a demo"

      - name: "FAILURE: Clean up EC2"
        if: failure()
        run: |
          set -e
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          python cleanup.py
        working-directory: ec2-provision
