name: TP1 CI

on:
  pull_request:
    branches:
      - main

# Les jobs build, unit-tests et smoke-test sont exécutés pour les Pull Requests.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Show memory info
        run: cat /proc/meminfo

      - name: Show CPU info
        run: lscpu

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            tp1/application/target
          # https://stackoverflow.com/questions/57695362/github-actions-cache-repo-to-speed-up-maven-builds
          key: maven-${{ hashFiles('**/pom.xml', '**/src/**/*.java') }}
          restore-keys: maven
        id: maven-cache

      - name: Build
        run: |
          set -e
          if [ "${{ steps.maven-cache.outputs.cache-hit }}" != "true" ]; then
            chmod +x ./build.sh
            ./build.sh
          else
            echo "Cache hit, skipping mvn clean install"
          fi
        working-directory: tp1

  # TOOO: Test coverage?
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            tp1/application/target
          key: maven-${{ hashFiles('**/pom.xml', '**/src/**/*.java') }}
          restore-keys: maven

      # Il y a eu des problèmes avec "mvn test".
      # Maintenant, je teste chaque module individuellement et seulement ceux avec des tests unitaires
      - name: Test netty-mqtt
        run: |
          set -e
          echo "=== Testing module: netty-mqtt ===" | tee -a test-netty-mqtt.log
          mvn -T 2C -pl "netty-mqtt" test | tee -a test-netty-mqtt.log
        working-directory: tp1

      - name: Test common
        run: |
          set -e
          echo "=== Testing module: common ===" | tee -a test-common.log
          MODULES=(
            "common/actor"
            "common/cache"
            "common/coap-server"
            "common/data"
            "common/message"
            "common/proto"
            "common/queue"
            "common/script/script-api"
            "common/transport/coap"
            "common/transport/http"
            "common/transport/lwm2m"
            "common/transport/mqtt"
            "common/transport/snmp"
            "common/transport/transport-api"
            "common/util"
          )
          mvn -T 2C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-common.log
        working-directory: tp1

      - name: Test rule-engine
        run: |
          set -e
          echo "=== Testing module: rule-engine ===" | tee -a test-rule-engine.log
          MODULES=(
            "rule-engine/rule-engine-api"
            "rule-engine/rule-engine-components"
          )
          mvn -T 2C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-rule-engine.log
        working-directory: tp1

      - name: Test dao
        run: |
          set -e
          echo "=== Testing module: dao ===" | tee -a test-dao.log
          mvn -T 2C -pl "dao" test | tee -a test-dao.log
        working-directory: tp1

      - name: Test edqs
        run: |
          set -e
          echo "=== Testing module: edqs ===" | tee -a test-edqs.log
          mvn -T 2C -pl "edqs" test | tee -a test-edqs.log
        working-directory: tp1

      ## Prend une éternité  ou reste bloqué... même après avoir exclu les tests d'intégration.
      ## application est le seul module avec -fn (qui permet de continuer même en cas d'erreur) puisqu'il y a trop de tests qui échouent
      # - name: Test application
      #   run: |
      #     set -e
      #     echo "=== Testing module: application ===" | tee -a test-application.log
      #     mvn -T 2C -fn -pl "application" test | tee -a test-application.log
      #   working-directory: tp1

      - name: Upload Test Logs
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: |
            tp1/test-netty-mqtt.log
            tp1/test-common.log
            tp1/test-rule-engine.log
            tp1/test-dao.log
            tp1/test-edqs.log
          # tp1/test-application.log

  # https://thingsboard.io/docs/user-guide/contribution/how-to-contribute/#code-changes
  smoke-test:
    name: Run Smoke Test
    runs-on: ubuntu-latest
    needs: build
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: thingsboard
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d thingsboard"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            tp1/application/target
          key: maven-${{ hashFiles('**/pom.xml', '**/src/**/*.java') }}
          restore-keys: maven

      - name: Set Up PostgreSQL
        run: |
          set -e
          for i in {1..12}; do
            if pg_isready -h localhost -U postgres -d thingsboard; then
              echo "PostgreSQL is ready"
              break
            fi
            echo "Waiting for PostgreSQL... (${i}/12)"
            sleep 5
          done

          if ! pg_isready -h localhost -U postgres -d thingsboard; then
            echo "ERROR: PostgreSQL is not ready in time." >&2
            exit 1
          fi

          # Chemin basé sur le fichier logback.xml dans application/target/bin/install
          sudo mkdir -p /var/log/thingsboard
          sudo chown $USER:$USER /var/log/thingsboard
          chmod +x ./install_dev_db.sh

          ./install_dev_db.sh
        working-directory: tp1/application/target/bin/install

      - name: Start ThingsBoard
        run: |
          set -e
          java -jar thingsboard-4.2.1.1-boot.jar &
          echo "ThingsBoard started"
        working-directory: tp1/application/target

      - name: Verify ThingsBoard Execution
        run: |
          set -e
          for i in {1..60}; do
            if curl -If http://localhost:8080; then
              echo "ThingsBoard verified"
              exit 0
            fi
            echo "Waiting for ThingsBoard... (${i}/60)"
            sleep 5
          done

          echo "ERROR: ThingsBoard didn't start in time." >&2
          exit 1
