name: TP1 Pipeline

on:
  pull_request:
  push:
    branches:
      - main

# Les jobs build, unit-tests et smoke-test sont exécutés pour les Pull Requests.
# deploy est exécuté uniquement pour les push sur la branche main (donc, après merge du PR).
# À noter que la branche main est protégée et requiert un PR.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Show memory info
        run: cat /proc/meminfo

      - name: Show CPU info
        run: lscpu

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          # https://stackoverflow.com/questions/57695362/github-actions-cache-repo-to-speed-up-maven-builds
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        id: maven-cache

      - name: Build
        run: |
          if [ "${{ steps.maven-cache.outputs.cache-hit }}" != "true" ]; then
            ./build.sh
          else
            echo "Cache hit, skipping mvn install"
          fi
        working-directory: tp1

  # TOOO: Test coverage?
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      # Il y a eu des problèmes avec "mvn test".
      # Maintenant, je teste chaque module individuellement et seulement ceux avec des tests unitaires
      - name: Test netty-mqtt
        run: |
          echo "=== Testing module: netty-mqtt ===" | tee -a test-netty-mqtt.log
          mvn -T 2C -pl "netty-mqtt" test | tee -a test-netty-mqtt.log
        working-directory: tp1

      - name: Test common
        run: |
          echo "=== Testing module: common ===" | tee -a test-common.log
          MODULES=(
            "common/actor"
            "common/cache"
            "common/coap-server"
            "common/data"
            "common/message"
            "common/proto"
            "common/queue"
            "common/script/script-api"
            "common/transport/coap"
            "common/transport/http"
            "common/transport/lwm2m"
            "common/transport/mqtt"
            "common/transport/snmp"
            "common/transport/transport-api"
            "common/util"
          )
          mvn -T 2C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-common.log
        working-directory: tp1

      - name: Test rule-engine
        run: |
          echo "=== Testing module: rule-engine ===" | tee -a test-rule-engine.log
          MODULES=(
            "rule-engine/rule-engine-api"
            "rule-engine/rule-engine-components"
          )
          mvn -T 2C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-rule-engine.log
        working-directory: tp1

      - name: Test dao
        run: |
          echo "=== Testing module: dao ===" | tee -a test-dao.log
          mvn -T 2C -pl "dao" test | tee -a test-dao.log
        working-directory: tp1

      - name: Test edqs
        run: |
          echo "=== Testing module: edqs ===" | tee -a test-edqs.log
          mvn -T 2C -pl "edqs" test | tee -a test-edqs.log
        working-directory: tp1

      ## Prend une éternité  ou reste bloqué... même après avoir exclu les tests d'intégration.
      ## application est le seul module avec -fn (qui permet de continuer même en cas d'erreur) puisqu'il y a trop de tests qui échouent
      # - name: Test application
      #   run: |
      #     echo "=== Testing module: application ===" | tee -a test-application.log
      #     mvn -T 2C -fn -pl "application" test | tee -a test-application.log
      #   working-directory: tp1

      - name: Upload Test Logs
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: |
            tp1/test-netty-mqtt.log
            tp1/test-common.log
            tp1/test-rule-engine.log
            tp1/test-dao.log
            tp1/test-edqs.log
          # tp1/test-application.log

  smoke-test:
    name: Smoke Test ThingsBoard
    runs-on: ubuntu-latest
    needs: unit-tests
    if: github.event_name == 'pull_request'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # Consulter README.md dans docker/
      - name: Launch ThingsBoard Services
        run: |
          ./docker-create-log-folders.sh
          ./docker-install-tb.sh --loadDemo
          ./docker-start-services.sh
        working-directory: tp1/docker

      - name: Verify ThingsBoard Execution
        run: |
          # Timeout de 90 secondes
          for i in {1..18}; do
            if curl -If http://localhost; then
              echo "ThingsBoard verified"
              exit 0
            else
              echo "Waiting for ThingsBoard... (attempt $i/18)"
              sleep 5
            fi
          done

          echo "Timeout: ThingsBoard didn't start in time." 
          exit 1

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Deploy to AWS
        run: echo "Deployment steps would be executed here."
