name: TP1 Pipeline

on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show memory info
        run: cat /proc/meminfo

      - name: Show CPU info
        run: lscpu

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Node.js 22
        run: |
          sudo apt-get update -qq
          curl -fsSL https://deb.nodesource.com/setup_22.x | sudo -E bash -
          sudo apt-get install -y nodejs
          sudo npm install -g yarn@1.22.22

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          # https://stackoverflow.com/questions/57695362/github-actions-cache-repo-to-speed-up-maven-builds
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        id: maven-cache

      - name: Build
        run: |
          if [ "${{ steps.maven-cache.outputs.cache-hit }}" != "true" ]; then
            cd tp1
            chmod +x build.sh
            ./build.sh
          else
            echo "Cache hit, skipping mvn install"
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      # Il y a eu des problèmes avec "mvn test".
      # Maintenant, je teste chaque module individuellement et seulement ceux avec des tests unitaires
      - name: Test netty-mqtt
        run: |
          echo "=== Testing module: netty-mqtt ===" | tee -a test-netty-mqtt.log
          mvn -T 1C -pl "netty-mqtt" test | tee -a test-netty-mqtt.log
        working-directory: tp1

      - name: Test common
        run: |
          echo "=== Testing module: common ===" | tee -a test-common.log
          MODULES=(
            "common/actor"
            "common/cache"
            "common/coap-server"
            "common/data"
            "common/message"
            "common/proto"
            "common/queue"
            "common/script/script-api"
            "common/transport/coap"
            "common/transport/http"
            "common/transport/lwm2m"
            "common/transport/mqtt"
            "common/transport/snmp"
            "common/transport/transport-api"
            "common/util"
          )
          mvn -T 1C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-common.log
        working-directory: tp1

      - name: Test rule-engine
        run: |
          echo "=== Testing module: rule-engine ===" | tee -a test-rule-engine.log
          MODULES=(
            "rule-engine/rule-engine-api"
            "rule-engine/rule-engine-components"
          )
          mvn -T 1C -pl "$(IFS=,; echo "${MODULES[*]}")" test | tee -a test-rule-engine.log
        working-directory: tp1

      - name: Test dao
        run: |
          echo "=== Testing module: dao ===" | tee -a test-dao.log
          mvn -T 1C -pl "dao" test | tee -a test-dao.log
        working-directory: tp1

      - name: Test edqs
        run: |
          echo "=== Testing module: edqs ===" | tee -a test-edqs.log
          mvn -T 1C -pl "edqs" test | tee -a test-edqs.log
        working-directory: tp1

      ## Prend une éternité  ou reste bloqué... même après avoir exclu les tests d'intégration.
      ## application est le seul module avec -fn (qui permet de continuer même en cas d'erreur) puisqu'il y a trop de tests qui échouent
      # - name: Test application
      #   run: |
      #     echo "=== Testing module: application ===" | tee -a test-application.log
      #     mvn -T 1C -fn -pl "application" test | tee -a test-application.log
      #   working-directory: tp1

      - name: Upload netty-mqtt test log
        uses: actions/upload-artifact@v4
        with:
          name: netty-mqtt-test-log
          path: tp1/test-netty-mqtt.log

      - name: Upload common test log
        uses: actions/upload-artifact@v4
        with:
          name: common-test-log
          path: tp1/test-common.log

      - name: Upload rule-engine test log
        uses: actions/upload-artifact@v4
        with:
          name: rule-engine-test-log
          path: tp1/test-rule-engine.log

      - name: Upload dao test log
        uses: actions/upload-artifact@v4
        with:
          name: dao-test-log
          path: tp1/test-dao.log

      - name: Upload edqs test log
        uses: actions/upload-artifact@v4
        with:
          name: edqs-test-log
          path: tp1/test-edqs.log

      # - name: Upload application test log
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: application-test-log
      #     path: tp1/test-application.log

  # TODO: Ajouter job pour exécuter thingsboard
